[submodule "src/3rdparty/guiextension"]
	path = src/3rdparty/guiextension
	url = https://github.com/rdnvndr/guiextension.git
[submodule "src/3rdparty/plugin"]
	path = src/3rdparty/plugin
	url = https://github.com/rdnvndr/plugin.git
[submodule "src/3rdparty/tilingframe"]
	path = src/3rdparty/tilingframe
	url = https://github.com/rdnvndr/tilingframe.git
[submodule "src/3rdparty/treexmlmodel"]
	path = src/3rdparty/treexmlmodel
	url = https://github.com/rdnvndr/treexmlmodel.git
[submodule "src/3rdparty/sqlextension"]
	path = src/3rdparty/sqlextension
	url = https://github.com/rdnvndr/sqlextension.git
[submodule "src/3rdparty/src/3rdparty/treexmlmodel"]
	path = src/3rdparty/src/3rdparty/treexmlmodel
	url = https://github.com/rdnvndr/treexmlmodel.git
[submodule "src/3rdparty/src/3rdparty/tilingframe"]
	path = src/3rdparty/src/3rdparty/tilingframe
	url = https://github.com/rdnvndr/tilingframe.git
